body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

button {
    background-color: #333;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 3% auto;
    padding: 1em 2em;
}


h1 {
    color: #ffffff;
    font-family: "Pirata One", system-uis;
    font-size: 2em;
}

h2 {
    color: #235a95;
    font-family: "Pirata One", system-uis;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.8em;
}

li, p, td {
    font-size: 1.1em;
    line-height: 1.5;
}

p {
    margin: -1em 0;
}

table {
    border-collapse: collapse;
    margin: auto 0;
    width: 100%;
}

/** Header **/

#logo {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #ffffff;
    display: block;
    padding: 3em;
    text-decoration: none;
}

/** Hero **/

#hero {
    background-image: url('images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#hello {
    margin: auto;
    padding-left: 5%;
    padding-right: 30%;
    text-align: left;
    width: 50%;
}

#herotext {
    color: white;
    display: flex;
    height: 65%;
    width: 100%;
}

#outnow {
    margin: auto;
    padding-left: 30%;
    padding-right: 5%;
    text-align: right;
    width: 50%;
}

/** Album **/

#album {
    align-items: center;
    background-color: #eecaca;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
}

#album img {
    height: auto;
    width: 80%;
}

#albumimg {
    text-align: center;
    width: 50%;
}

#tracklist {
    box-sizing: border-box;
    padding: 5%;
    text-align: center;
    width: 50%;
}

#tracklist ol {
    column-count: 2;
    column-gap: 15%;
    display: inline-block;
    text-align: left;
}

/** Tour **/

#tour {
    box-sizing: border-box;
    overflow: hidden;
    padding: 5%;
    width: 100%;
}

#tourdates {
    box-sizing: border-box;
    float: left;
    padding: 5%;
    width: 50%;
}

#vip {
    box-sizing: border-box;
    float: left;
    padding: 5%;
    width: 50%;
}

/** Merch **/

#merch {
    background-color: #eecaca;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5%;
    width: 100%;
}

#merch img {
    height: auto;
    width: 100%;
}

.item {
    box-sizing: border-box;
    float: left;
    padding: 1%;
    width: 25%;
}

/** Videos **/

#videos {
    box-sizing: border-box;
    overflow: hidden;
    padding: 5%;
    width: 100%;
}

.video {
    box-sizing: border-box;
    float: left;
    height: 0;
    margin: 2%;
    overflow: hidden;
    padding: 5%;
    padding-top: 28.125%; /* Padding based on a 16:9 aspect ratio */
    position: relative; /* Required for absolute positioning of the iframe */
    width: 46%; /* Make sure each video takes 50% of the container's width */
}

.video iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/** Newsletter **/

#news {
    background-color: #eecaca;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5%;
    width: 100%;
}

#news img {
    height: auto;
    width: 50%;
}

#signup {
    box-sizing: border-box;
    float: left;
    padding: 5%;
    width: 50%;
}

input[type=email] {
    border: 1px solid #2d9fd9;
    border-radius: 20px;
    box-sizing: border-box;
    color: #c1c1c1;
    height: 3em;
    margin-bottom: 2em;
    padding-left: 10px;
    width: 100%;
}

/** Footer **/

footer {
    padding: 2em;
    text-align: center;
}

/** Media Queries **/

/** Tablet **/
@media (min-width: 601px) and (max-width: 1024px) {
    #hello {
        padding-right: 20%;
    }
    
    #logo {
        font-size: 1.2rem;
    }

    #outnow {
        padding-left: 20%;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    nav ul li a {
        padding: 2em;
    }

    p, li, td {
        font-size: 0.9em;
        line-height: 1.5;
    }

    #tracklist ol {
        column-count: 1;
    }

    .item {
        padding: 2em;
        width: 50%;
    }
}

/** Mobile **/
@media screen and (max-width: 600px) {
    #album {
        display: block;
        width: 100%;
    }

    #albumimg {
        width: 100%;
    }

    #hello, #outnow {
        padding: 0;
        text-align: center;
        width: 100%;
    }

    #logo {
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
    }

    #news img {
        width: 100%;
    }

    #signup, #tourdates, #vip, .item {
        width: 100%;
    }

    .item {
        padding: 2em;
    }

    .video {
        width: 96%;
    }

    h1 {
        margin-bottom: 0;
    }

    header {
        flex-direction: column;
    }

    nav {
        padding-top: -3em;
    }

    nav ul li a {
        padding: 1rem;
    }

    #herotext {
        display: flex;
        flex-direction: column;
        vertical-align: bottom;
    }
}
